<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:amazon="http://schemas.android.com/apk/lib/com.amazon.device.ads"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    id="com.donler.plugin.easemob"
    version="0.0.1">

  <name>Donler Easemob</name>
    <author>donler</author>

    <description>
        com.donler.plugin.easemob
    </description>

    <license>MIT</license>

    <js-module src="www/easemob.js" name="easemob">
        <clobbers target="easemob" />
    </js-module>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <!-- android -->
    <platform name="android">
        <!-- <preference name="API_KEY" /> -->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Easemob" >
                <param name="android-package" value="com.donler.plugin.easemob.Easemob"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.VIBRATE" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <!-- <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" /> -->
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.GET_TASKS" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
            <uses-permission android:name="android.permission.GET_ACCOUNTS" />
            <uses-permission android:name="android.permission.USE_CREDENTIALS" />
            <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
            <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
            <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
            <uses-permission android:name="android.permission.BROADCAST_STICKY" />
            <uses-permission android:name="android.permission.WRITE_SETTINGS" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <receiver android:name="com.easemob.chat.StartServiceReceiver" >
                <intent-filter android:priority="1000" >
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                    <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </receiver>
            <!-- 设置环信应用的appkey -->
            <meta-data
                android:name="EASEMOB_APPKEY"
                android:value="EASEMOB_APPKEY" />
            <!-- 声明sdk所需的service -->
            <service android:name="com.easemob.chat.EMChatService" />
        </config-file>
        <source-file src="src/android/HXNotifier.java" target-dir="src/com/donler/plugin/easemob" />
        <source-file src="src/android/Easemob.java" target-dir="src/com/donler/plugin/easemob" />
        <source-file src="src/android/libs/armeabi/libeasemob_jni.so" target-dir="libs/armeabi" />
        <source-file src="src/android/libs/armeabi/libeasemobservice.so" target-dir="libs/armeabi" />
        <source-file src="src/android/libs/x86/libeasemobservice.so" target-dir="libs/x86" />
        <source-file src="src/android/libs/x86_64/libeasemobservice.so" target-dir="libs/x86_64" />
        <source-file src="src/android/libs/easemobchat_2.1.9.jar" target-dir="libs" />
        <source-file src="src/android/libs/android-support-v4.jar" target-dir="libs" />
    </platform>

    <!-- ios -->
    <platform name="ios">

        <config-file target="config.xml" parent="/*">
            <feature name="easemob">
                <param name="ios-package" value="easemobDonler"/>
            </feature>
        </config-file>

        <framework src="MobileCoreServices.framework"/>
        <framework src="CFNetwork.framework"/>
        <framework src="libsqlite3.dylib" />
        <framework src="libstdc++.6.0.9.dylib" />
        <framework src="libz.dylib" />
        <framework src="libiconv.dylib" />
        <framework src="libresolv.dylib" />
        <framework src="libxml2.dylib" />
        <resource-file src="src/ios/relative/EaseMob.bundle" />
        <source-file src="src/ios/relative/libEaseMobClientSDKLite.a" framework="true" />
        <header-file src="src/ios/relative/commonDefs.h" />
        <header-file src="src/ios/relative/EMBuddy.h" />
        <header-file src="src/ios/relative/EMChatCommand.h" />
        <header-file src="src/ios/relative/EMChatFile.h" />
        <header-file src="src/ios/relative/EMChatImage.h" />
        <header-file src="src/ios/relative/EMChatLocation.h" />
        <header-file src="src/ios/relative/EMChatManagerBuddyDelegate.h" />
        <header-file src="src/ios/relative/EMChatManagerChatDelegate.h" />
        <header-file src="src/ios/relative/EMChatManagerChatroomDelegate.h" />
        <header-file src="src/ios/relative/EMChatManagerDefs.h" />
        <header-file src="src/ios/relative/EMChatManagerDelegate.h" />
        <header-file src="src/ios/relative/EMChatManagerDelegateBase.h" />
        <header-file src="src/ios/relative/EMChatManagerEncryptionDelegate.h" />
        <header-file src="src/ios/relative/EMChatManagerGroupDelegate.h" />
        <header-file src="src/ios/relative/EMChatManagerLoginDelegate.h" />
        <header-file src="src/ios/relative/EMChatManagerPushNotificationDelegate.h" />
        <header-file src="src/ios/relative/EMChatManagerUtilDelegate.h" />
        <header-file src="src/ios/relative/EMChatroom.h" />
        <header-file src="src/ios/relative/EMChatText.h" />
        <header-file src="src/ios/relative/EMChatVideo.h" />
        <header-file src="src/ios/relative/EMChatVoice.h" />
        <header-file src="src/ios/relative/EMCommandMessageBody.h" />
        <header-file src="src/ios/relative/EMConversation.h" />
        <header-file src="src/ios/relative/EMCursorResult.h" />
        <header-file src="src/ios/relative/EMDeviceManagerDefs.h" />
        <header-file src="src/ios/relative/EMDeviceManagerDelegate.h" />
        <header-file src="src/ios/relative/EMDeviceManagerDelegateBase.h" />
        <header-file src="src/ios/relative/EMDeviceManagerNetworkDelegate.h" />
        <header-file src="src/ios/relative/EMError.h" />
        <header-file src="src/ios/relative/EMErrorDefs.h" />
        <header-file src="src/ios/relative/EMFileMessageBody.h" />
        <header-file src="src/ios/relative/EMGroup.h" />
        <header-file src="src/ios/relative/EMGroupManagerDefs.h" />
        <header-file src="src/ios/relative/EMGroupStyleSetting.h" />
        <header-file src="src/ios/relative/EMImageMessageBody.h" />
        <header-file src="src/ios/relative/EMLocationMessageBody.h" />
        <header-file src="src/ios/relative/EMMessage.h" />
        <header-file src="src/ios/relative/EMNetworkMonitorDefs.h" />
        <header-file src="src/ios/relative/EMPushManagerDefs.h" />
        <header-file src="src/ios/relative/EMPushNotificationOptions.h" />
        <header-file src="src/ios/relative/EMReceipt.h" />
        <header-file src="src/ios/relative/EMReceiptBase.h" />
        <header-file src="src/ios/relative/EMTextMessageBody.h" />
        <header-file src="src/ios/relative/EMVideoMessageBody.h" />
        <header-file src="src/ios/relative/EMVoiceMessageBody.h" />
        <header-file src="src/ios/relative/IChatImageOptions.h" />
        <header-file src="src/ios/relative/IChatManager.h" />
        <header-file src="src/ios/relative/IChatManagerBase.h" />
        <header-file src="src/ios/relative/IChatManagerBuddy.h" />
        <header-file src="src/ios/relative/IChatManagerChat.h" />
        <header-file src="src/ios/relative/IChatManagerChatroom.h" />
        <header-file src="src/ios/relative/IChatManagerConversation.h" />
        <header-file src="src/ios/relative/IChatManagerDelegate.h" />
        <header-file src="src/ios/relative/IChatManagerEncryption.h" />
        <header-file src="src/ios/relative/IChatManagerGroup.h" />
        <header-file src="src/ios/relative/IChatManagerLogin.h" />
        <header-file src="src/ios/relative/IChatManagerPushNotification.h" />
        <header-file src="src/ios/relative/IChatManagerSettingOptions.h" />
        <header-file src="src/ios/relative/IChatManagerUtil.h" />
        <header-file src="src/ios/relative/IDeviceManager.h" />
        <header-file src="src/ios/relative/IDeviceManagerBase.h" />
        <header-file src="src/ios/relative/IDeviceManagerDelegate.h" />
        <header-file src="src/ios/relative/IEMChatCryptor.h" />
        <header-file src="src/ios/relative/IEMChatFile.h" />
        <header-file src="src/ios/relative/IEMChatObject.h" />
        <header-file src="src/ios/relative/IEMChatProgressDelegate.h" />
        <header-file src="src/ios/relative/IEMFileMessageBody.h" />
        <header-file src="src/ios/relative/IEMMessageBody.h" />
        <header-file src="src/ios/relative/EaseMobHeaders.h" />
        <header-file src="src/ios/relative/EaseMob.h" />
        <header-file src="src/ios/easemobDonler.h" />
        <source-file src="src/ios/easemobDonler.m" />

    </platform>

    <!-- blackberry10 -->
    <platform name="blackberry10">
        <dependency id="com.blackberry.push" />
        <dependency id="com.blackberry.invoked" />
        <config-file target="www/config.xml" parent="/widget">
            <feature name="PushPlugin" value="PushPlugin" />
        </config-file>
        <js-module src="www/blackberry10/PushPluginProxy.js" name="PushPluginProxy" >
            <runs />
        </js-module>
    </platform>

    <!-- wp8 -->
    <platform name="wp8">

    <config-file target="config.xml" parent="/*">
      <feature name="PushPlugin">
        <param name="wp-package" value="PushPlugin"/>
      </feature>
    </config-file>

    <config-file target="Properties/WMAppManifest.xml" parent="/Deployment/App/Capabilities">
      <Capability Name="ID_CAP_PUSH_NOTIFICATION"/>
    </config-file>

    <source-file src="src/wp8/PushPlugin.cs" />
    <framework src="src/wp8/Newtonsoft.Json.dll" custom="true" />

  </platform>

  <!-- windows8 -->
  <platform name="windows8">
    <js-module src="src/windows8/PushPluginProxy.js" name="PushPlugin">
      <merges target="" />
    </js-module>
  </platform>

</plugin>
